.card3{
    display: flex;
    flex-direction: column;
    padding: 50px 50px ;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 5em;
    letter-spacing: 1.5px;
    background: #fff;
    border-top: 4px solid #ccc;
    border-bottom: 4px solid #ccc;
    border-radius: 6px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
}

h5{
    font-weight: bolder;
}

.quote{
    font-style: italic;
}

.slideshow{
    display:flex;
    flex-direction: column; 
    max-width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5em;
    margin-bottom:5.6em;
    z-index: -4;
}


.buttonleft, .buttonright {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin: -20px;
    color:  rgb(167, 115, 141);
    font-weight: bold;
    transition: 0.5s ease;
    border-radius:  0 3px 3px 0;
    user-select: none;    
}

.buttonleft:hover, .buttonright:hover{
    background-color: lightpink;
}

.buttonright{
    right: 0;
    border-radius: 3px 0 0 3px;
    margin-right: 20%;
   
}

.buttonleft{
    left: 0;
    border-radius: 3px 0 0 3px;
    margin-left: 20%;
    
}

.fade{
    -moz-webkit-animation: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/*---media queries---*/
@media screen and (max-width: 1024px){
    .nav-links{
        width: 50%;
    }
}

@media screen and (max-width:768px){

    body{
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color:rgb(167, 115, 141);
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    

    .burger{
        display: block;
        cursor: pointer;
    }


}

.nav-active{
    transform: translateX(0%);
}